@font-face {
  font-family: "Freight Sans Pro";
  src: url('{{ "FreightSansProBook-Regular.woff2" | asset_url }}') format("woff2"),
    url('{{ "FreightSansProBook-Regular.woff" | asset_url }}') format("woff"),
    url('{{ "FreightSansProBook-Regular.ttf" | asset_url }}') format("truetype");
}

// * {
//   font-family: "Freight Sans Pro";
// }

@media (max-width: 767px) {
  .hide--mobile {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hide--desktop {
    display: none !important;
  }
}

#MainContent {
  padding: 0;
}

// ========================Header custom style==============================

.site-header {
  border: unset;
  .site-header__mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    @media (max-width: 767px) {
      padding: 8px 0;
    }
    & > div:first-child,
    & > #AccessibleNav {
      flex: 1;
    }
    & > div:nth-child(2) {
      flex: 0;
    }
    .site-header__icons-wrapper {
      justify-content: flex-start;
    }
    .site-nav {
      display: flex;
      justify-content: flex-end;
    }
    .icon-hamburger {
      width: 24px;
      height: 18px;
      line {
        stroke: #000 !important;
        stroke-width: 1px;
      }
    }
  }
  .site-header__logo {
    margin: 0;
    padding: 0 !important;
    .logo__image {
      img {
        transition: 0.2s linear all;
      }
      &:hover {
        img {
          transform: translate(0px, -10px);
        }
      }
    }
  }
  .site-nav__link,
  .site-header__icon {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0.618em;
    padding: 0.618em 0;
  }
  .site-header__cart {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      #CartCount {
        position: relative;
        display: inline-flex;
        margin-left: 5px;
        right: unset;
        top: unset;
        bottom: unset;
        background: unset;
        color: #000;
        font-size: 17px;
        font-weight: normal;
      }
    }
    .icon-cart {
      width: 30px;
      height: 35px;
      path {
        fill: #fff;
        stroke: #131313;
        stroke-width: 1px;
      }
    }
    #CartCount {
      @media (max-width: 767px) {
        position: absolute;
        bottom: 12px;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 26px;
        color: #131313;
        width: 100%;
        top: unset;
        background: unset;
      }
    }
  }
}

// ================Gallery section==================
#ik-homepage-gallery {
  .Index-gallery-wrapper {
    display: grid;
    grid-template-columns: 67% 33%;
    padding: 5px;
    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
    .gallery_left {
      position: relative;
      @media (max-width: 767px) {
        margin-bottom: 5px;
      }
      @media (min-width: 768px) {
        margin-right: 5px;
        img {
          position: absolute;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .gallery_right {
      display: grid;
      grid-template-columns: 100%;
      grid-row-gap: 5px;
    }
    .item:not(.item2, .item3) {
      @media (min-width: 768px) {
        display: block;
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          left: 0;
          top: 0;
        }
      }
    }
    .item {
      @media (min-width: 768px) {
        display: block;
        width: 100%;
        height: 100%;
      }
      @media (max-width: 767px) {
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &.item2,
      &.item3 {
        @media (min-width: 768px) {
          position: relative;
          padding-top: 60%;
          img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            left: 0;
            top: 0;
          }
        }
      }
      button {
        position: absolute;
        top: unset;
        bottom: 8px;
        left: 8px;
        padding: 20px;
        background: #fff;
        border: unset;
        z-index: 1;
        font-weight: 500;
        font-style: normal;
        font-size: 12px;
        letter-spacing: 0.15em;
        line-height: 1em;
        text-transform: uppercase;
        color: #131313;
      }
    }
  }
}

// ======================Homepage about sectoin===========================
#ik-homepage-about {
  .Index-home-about-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 200px 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    text-transform: none;

    .hollow-dot {
      margin: 0;
      font-size: 30px;
    }
    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 1000px) {
      padding: 120px 40px;
      width: 80%;
    }
    @media (max-width: 767px) {
      padding: 60px 20px;
      width: 100%;
      font-size: 32px;
    }
  }
}

// =====================Hero section====================
.hero-section {
  padding: 0;
}

// ================Instagram feed section===============
.ik-insta-feed {
  .Index-wrapper {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: flow-root;
    padding: 80px 40px;
    padding-top: 120px;
    @media (max-width: 767px){
      padding: 0 10px;
      padding-top: 40px;
    }
    .insta_item {
      width: 33.33333333%;
      float: left;
      @media (max-width: 767px){
        width: 50%;
      }
      a {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding-bottom: 75%;
        position: relative;
        display: block;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
