<div id="finishes_page">
  {% section 'ik-image-finishes' %}
  {% section 'ik-finishes-text' %}
  {% section 'ik-finishes-block' %}
  {% section 'ik-finishes-block1' %}
  {% section 'ik-finishes-text1' %}
</div>