<div id="woodwork">
  {% if page.content != blank %}<h2 class="content-title">{{ page.content }}</h2>{% endif %}
  {% section 'ik-image-woodwork' %}
  {% section 'ik-text-image-wrap1' %}
  {% section 'ik-text-wrap1' %}
  {% section 'ik-image-woodwork1' %}
</div>