<div id="about_page">
  {% if page.content != blank %}<h2 class="content-title">{{ page.content }}</h2>{% endif %}
  {% section 'ik-image-with-text' %}
  {% section 'ik-text-image-wrap' %}
  {% section 'ik-text-wrap' %}
</div>